- content_for :header do
  = render 'default_header'

#boards
  = render layout: 'content_header', locals: { title: 'All boards' } do
    = link_to new_board_path, class: 'btn btn-primary pull-right' do
      %i.fa.fa-plus
      New board

  - if @boards.any?
    #board_list.panel-group
      = render @boards
  - else
    .alert.alert-info
      %p.center You don't have any boards yet.
