#job_board {
  nav#action_bar {
    a.post_job {
      font-weight: bold;
    }
  }

  #categories {
    .category {
      padding: 15px 0;

      h3 {
        padding: 5px 0 0 0;
        margin: 0 0 13px 0;
        border-top: 2px solid #666;
        font-weight: normal;
        line-height: 1em;

        small {
          font-size: 11px;
          margin-left: 10px;
        }

        a {
          color: #333;

          &:hover {
            text-decoration: none;
          }
        }
      }

      ul.jobs {
        margin: 0 0 0 35px;
        padding: 0;

        li {
          list-style-type: none;
          font-size: 13px;
          margin: 0;

          &.highlight {
            a {
              background-color: #ffffcc;

              &:hover {
                background: #fcf5ad;
              }
            }
          }

          span.new {
            float: left;
            position: relative;
            left: -35px;
            top: 11px;
            background-color: #1ca3f1;
            font-weight: bold;
            color: #fff;
            font-size: 8px;
            text-transform: uppercase;
            margin: 0;
            margin-right: -35px;
            padding: 3px 5px;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
          }

          a {
            display: block;
            padding: 10px;
            margin: 0;
            color: #333;
            border-bottom: 1px solid #e8e8e8;

            &:hover {
              text-decoration: none;
              background-color: #efebe3;
            }

            &.view_all {
              margin-top: 10px;
              font-size: 13px;
              padding: 10px;
              color: $link-color;
              border-bottom: 0;

              &:hover {
                background-color: transparent;
                color: $link-hover-color;
              }
            }

            span.location {
              font-weight: bold;
              margin-right: 10px;
            }

            span.title {
              text-decoration: underline;
              margin-right: 5px;
            }

            span.at {
              color: #888;
              margin-right: 5px;
            }

            span.date {
              color: #948b6e;
              float: right;
              font-size: 10px;
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
}
