// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#jobs {
  nav {
    .input-group {
      margin-bottom: 15px;
    }

    a.post_job {
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 15px;
    }
  }

  #list {
    .category {
      h3 {
        padding: 5px 0 0 0;
        margin: 0 0 13px 0;
        border-top: 2px solid #666;
        font-weight: normal;
        line-height: 1em;
      }
    }
  }

  #create, #job_form {
    position: relative;

    .benefits {
      overflow: hidden;
      font-size: 12px;
      width: 275px;
      position: absolute;
      right: -45px;
      margin-top: 15px;
      background-color: #ffffcc;
      border: 1px solid #f2e0b0;
      box-shadow: 3px 3px 3px #ccc;
      -moz-box-shadow: 3px 3px 3px #ccc;
      -webkit-box-shadow: 3px 3px 3px #ccc;

      h3 {
        background-color: #f2e0b0;
        padding: 10px 20px;
        margin: 0;
        font-size: 14px;
        font-weight: bold;
      }

      p {
        margin: 20px;
      }
    }

    h1 {
      margin: 0 0 15px 0;
    }

    form {
      margin-bottom: 15px;

      & > * {
        padding-left: 10px;
      }

      button[type=submit] {
        margin: 20px 0 10px 10px;
      }

      h3 {
        border-top: 1px solid #eeeeee;
        padding-top: 15px;
        margin: 0 0 15px 0;
      }

      label {
        text-align: left;
      }

      p.help {
        margin: 0 0 5px 0;
      }
    }

    .modal#markdown {
      .modal-body {
        padding: 0 20px;

        p.more-details {
          padding-top: 10px;
        }

        .row {
          border-bottom: 1px solid #eeeeee;
          padding-top: 10px;

          ul, ol {
            padding-left: 20px;
          }
        }
      }

      .modal-footer {
        margin-top: 10px;
      }
    }
  }

  #job {
    .job-header {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eeeeee;

      & > * {
        padding-left: 10px;
      }

      h1.title {
        margin: 0;
      }

      p {
        &.company {
          margin: 0;
          font-weight: bold;
          font-size: 16px;
        }
        &.crea
        ted_at {
          margin: 0 0 20px 0;
        }

        &.location {
          margin: 0;
          font-size: 16px;
        }

        &.url {
          margin: 0;
        }
      }
    }

    .job-description {
      margin-bottom: 15px;

      & > * {
        padding-left: 10px;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .job-instructions {
      p.heading {
        font-weight: bold;
        font-size: 16px;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }

    .job-share {
      p {
        &.preview-icons {
          font-size: 22px;
        }
      }
    }
  }

  #preview {
    .content-header {
      margin-bottom: 30px;

      nav {
        span.make_changes {
          @extend .text-danger;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
