#inner_header.row
  %h1.title.tk-goudy-bookletter-1911.col-sm-6
    = link_to root_url do
      %i.fa{ class: board_icon }
      = full_title
  %nav.col-sm-6.text-right
    %button.btn.btn-primary.create{ disabled: true } 1. Create
    %button.btn.btn-default.preview{ disabled: true } 2. Preview
    %button.btn.btn-default.purchase{ disabled: true } 3. Purchase
