#inner_header.row
  %h1.title.tk-goudy-bookletter-1911.col-sm-6
    = link_to root_url do
      %i.fa{ class: board_icon }
      = full_title
  %nav.col-sm-6.text-right
    .btn.btn-primary.create.disabled 1. Create
    .btn.btn-default.preview.disabled 2. Preview
    .btn.btn-default.purchase.disabled 3. Purchase
